@font-face { font-family: Pixeboy; src: "./fonts/Pixeboy.ttf"; }
@font-face { font-family: Press-Start-2P; src: "./fonts/PressStart2P-vaV7.ttf";}

*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100vw;
    height: 100vh; 
    padding: 5%
}
body{
    background-color: hsl(0, 70%, 40%);
}
.home-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
#title{
    color:hsl(52, 100%, 50%);
    font-family:'Pixeboy'; 
    
}

.search-bar{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .search-input{
        width: 100%;
    }
    .search-button{
        background-image: "./assets/search-icon";
    }
}

.pokemon-card{
    display:inline-flex;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    border: solid black 1px;
    font-family: 'Press-Start-2P';
    .pokemon-data{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .pokemon-visual{
        display: flex;
        flex-direction: column;
        gap:0;
    }

}
