@font-face { font-family: Pixeboy; src: url(./fonts/Pixeboy.ttf); }
@font-face { font-family: Press-Start-2P; src: url(./fonts/PressStart2P-vaV7.ttf);}
@font-face { font-family: Pixeloid; src: url(./fonts/pixeloid/PixeloidSans-mLxMm.ttf); font-weight:sans}


*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100vw;
    height: 100vh; 
}
body{
    background-color: hsl(0, 70%, 40%);
}
.home-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
    #title{
        font-size: 68px;
        text-align: center;
        line-height: 8vh;
    }
}
#title{
    color:hsl(52, 100%, 50%);
    font-family:'Pixeboy'; 
    
}

.search-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Pixeloid-sans';
    border: solid black 1px;
    border-radius: 6px;
    margin-bottom: 4vh;
    margin-left: 10px;
    margin-right: 10px;

    .search-input{
        width: 100%;
        background-color: transparent;
        border: solid transparent 0px;
        font-family: 'Pixeloid';
        text-align: center;
    }
    .search-button{
        background: transparent;
        border: solid transparent 0px
    }
}
#pokemon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .pokemon-card{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        border-radius: 6px;
        border: solid black 1px;
        font-family: 'Press-Start-2P';
        list-style-type: none;
        width: 298px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        .pokemon-name{
            font-size: 20px;
            margin-left: 6px;
            margin-top: 4px;
        }
        .pokemon-name::first-letter{
            text-transform: capitalize;
        }
    }   
        .pokemon-data{
        display: flex;
        margin: 6px;
        .pokemon-number{
            font-size: 15px;
            color: gray;
        }
        .pokemon-info{
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            gap:8px;
            font-size: 13px;

        }
        .pokemon-visual{
            display: flex;
            flex-grow: 0;
            flex-grow:1;
            flex-direction: column;
            gap:0;
            .pokemon-image{
                width: 90px;
                height: auto;
            }
            .pokemon-types{
                display: flex;
                justify-content: center;
                .type-icon{
                    font-size: 0.5rem;
                    width: 40px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 768){

}

@media screen and (min-width: 1024){

}
